@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  /* margin: 0; */
  font-family: "Quicksand";
  color: #333;
}

.navbar_landing h1 {
  padding-left: 2.5%;
  color: white;
  font-size: 45px;
}

.navbar_landing {
  padding-top: 1.5%;

  padding-right: 2.5%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

.navbar_landing .links {
  display: flex;
  margin-left: auto;
  font-size: 19px;

  /* padding-right: 5%; */
  /* background-color: aqua; */
}
.navbar_landing .link2 {
  margin-left: 2.5em;
}
